@import './base.css';

#app {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

tr{
  background-color: #dddddd;
}

tr:nth-child(odd){
  background-color: #bbbbbb
}

td{
  padding-left: 10px;
}

.list{
  width: 100%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

